.bx--side-nav__navigation {
  height: auto;
  bottom: 0;
}

.bx--header__action {
  line-height: 1;
}

.ms-CommandBar {
  padding-left: 0;
  padding-right: 0;
}

.__gdoc_monospace {
  font-family: 'JetBrains Mono', monospace;
  font-feature-settings: 'liga' 0;
  font-variant-ligatures: none;
}

.picker-dialog-bg {
  z-index: 20000 !important;
}

.picker-dialog {
  z-index: 20001 !important;
}
