@import 'carbon-components/scss/globals/scss/_vars';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/import-once/import-once';
@import 'carbon-components/scss/globals/scss/_helper-mixins';

.nav {
  overflow-y: auto;
  flex: 1 1;
  padding: 1rem 0 0;
  background-color: $ui-01;

  :global {
    .bx--label {
      display: none;
    }
  }
}
